{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{   if (or (eq .chezmoi.osRelease.id "manjaro") (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "endeavouros") ) }}
if ! pacman -Q neovim &> /dev/null; then
  sudo pacman -S neovim
fi

if ! pacman -Q ripgrep &> /dev/null; then
  sudo pacman -S ripgrep
fi

if ! command -v fnm &> /dev/null; then
curl -fsSL https://fnm.vercel.app/install | bash
source /home/mehran/.bashrc
fi

if ! command -v node &> /dev/null; then
fnm install --lts
fi

if ! pacman -Q lua-language-server &> /dev/null; then
  sudo pacman -S lua-language-server 
fi

# install Go
if ! command -v go &> /dev/null; then
  sudo pacman -S go
fi
# Install rust
if ! command -v cargo &> /dev/null; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
  source $HOME/.cargo/env
fi
# install Java
if ! command -v sdk &> /dev/null; then
  curl -s "https://get.sdkman.io" | bash
  source "$HOME/.sdkman/bin/sdkman-init.sh"
  sdk install java
  sdk install maven
  sdk install gradle
fi
if ! command -v stylua &> /dev/null; then
  cargo install stylua
fi

{{   end   }}
{{ end }}
